---
- hosts: jenkins
  remote_user: vagrant
  become: yes

  # vars_prompt:
  #   - name:
  #     prompt: "Enter Jenkins user name"
  #
  #   - name:
  #     prompt: "Enter Jenkins password"
  #     private: yes

  roles:
    - role: ansible-facts
    # - role: ansible-jenkins
    #   jenkins_hostname: ci.192.168.88.10.xip.io
    #   # Listen on all rather than just localhost, or we can't access it from # outside the VM - in production, we'd be fronting with nginx or similar
    #   jenkins_listen_address: 0.0.0.0
    #   jenkins_admins:
    #     - aharnum
    #   jenkins_plugins:
    #     - git-client
    #     - git
    #     - publish-over-ssh
    #     - nodejs
    #     - nested-view
    #   jenkins_initial_password: "ChangeMe%"
    - role: jenkins-views
      jenkins_nested_views:
        - name: "Container Jobs"
          child_views:
            - name: "Build Containers"
              regex: ".*build-container.*"
            - name: "Deploy Containers"
              regex: ".*deploy-container.*"
        - name: "Admin Jobs"
          description: "Administrative jobs for doing administation"
          child_views:
            - name: "Admin Jobs"
              regex: ".*admin.*"
        - name: "Websites"
          description: "Various website jobs"
          child_views:
            - name: "IDRC"
              description: "idrc.ocad sites"
              regex: ".*idrc\\.ocad.*"
            - name: "Floe"
              regex: ".*floeproject\\.org.*"
      jenkins_global_views:
        - name: "All Container Jobs"
          description: "All container jobs"
          regex: ".*container.*"
        - name: "All Non-Container Jobs"
          regex: "(?!.*container).*"
